<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<form action="#" th:action="@{/logout}" method="get">
    <input  style="border-color: lightskyblue"  type="submit" value="ВЫХОД"/>
</form>
<br>
<form><button>
    <a th:if="${#lists.contains(#authorization.expression('hasAnyRole(''ROLE_USER'',''ROLE_ADMIN'')'), true)}"
       th:href="${#authorization.expression('hasRole(''ROLE_ADMIN'')') ? '/admin' : '/login'}">ВЕРНУТЬСЯ В ПАНЕЛЬ
        АДМИНИСТРАТОРА</a></button>
</form>
<body  bgcolor="#afeeee">
<h1 align="center" >Ввод данных</h1>
<form  align="center" class="table table-hover"  th:method="POST" th:action="@{/admin/new}" th:object="${user}">
    <h3> <label bgcolor="#f0e68c" for="name">Введите имя</label></h3>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="lastName"><h3>Введите фамилию</h3></label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br>
    <br>
    <label for="age"><h3>Введите возраст</h3></label>
    <input type="text" th:field="*{age}" id="age"/>
    <br>
    <br>
    <label for="login"><h3>Введите логин</h3></label>
    <input type="text" th:field="*{login}" id="login"/>
    <br>
    <br>
    <label for="password"><h3>Введите пароль</h3></label>
    <input type="text" th:field="*{password}" id="password"/>
<!--    <label for="role"><h3>Введите уровень доступа</h3></label>-->
<!--    <input type="text" th:field="*{roles}" id="role"/>-->
<!--    <input type=checkbox id=adminId name=roles[] value="ROLE_ADMIN">-->
<!--    <label for="adminId">ADMIN</label>-->
<!--    <input type=checkbox id=userId name=roles[] value="ROLE_USER">-->
<!--    <label for="userId">USER</label>-->
    <td bgcolor="#f0f8ff">
        <div>
            <h3><label>Уровень доступа:</label></h3>
            <label>
                <input type="checkbox" th:field="*{roles}" th:value="ROLE_USER" />
                USER
            </label>
            <label>
                <input type="checkbox" th:field="*{roles}" th:value="ROLE_ADMIN" />
                ADMIN
            </label>
        </div>
    </td>
    <br>
    <br>
    </br/>
    <tr >
        <th> <form><input type="submit" value="СОЗДАТЬ"/></form></th>
    </tr>
</form>
</body>
</html>